.layout-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.layout-container .sidenav-container {
  flex: 1;
}

.layout-container .sidenav-container .sidenav {
  padding: 8px;
  transition: width 200ms;
}

.layout-container .sidenav-container .main-container {
  padding: 8px;
}

#sidenav-content {
  transition: margin-left 200ms;
}